*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-primary: #040B14;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);
  --color-grey-dark: #2C2F3F;
  --color-grey-light: #72747F;
  --transition-duration: all .2s ease-in-out;
  /* * Section Title font size */
  --font-size-title: calc(2rem + 2vw);
  /* * Section Padding */
  --padding-section: 8vh 3vw;
  --hover-color: #149DDD;
}

body {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.7;
  background-color: var(--color-tertiary-m-dark);
  overflow-x: hidden;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [container-start] 1fr [center-start] ([col-start] minmax(min-content, 12.5rem) [col-end])[10] [center-end] 1fr [container-end];
      grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12.5rem) [col-end]) [center-end] 1fr [container-end];
      grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 12.5rem) [col-end]) [center-end] 1fr [container-end];
  -ms-grid-rows: 100vh (min-content)[8];
      grid-template-rows: 100vh repeat(8, -webkit-min-content);
      grid-template-rows: 100vh repeat(8, min-content);
}

/* * Anchor tags */
a:link,
a:visited {
  color: var(--color-quaternary);
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  -webkit-transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

p {
  font-size: calc(0.5rem + 0.5vw);
  color: white;
}

li {
  list-style: none;
  margin-bottom: 4rem;
}

i {
  color: white;
  font-size: var(--font-size-title);
}

.navigation {
  visibility: hidden;
}

.navigation__checkbox {
  display: none;
}

.navigation__background {
  height: 4rem;
  width: 4rem;
  position: fixed;
  right: 3rem;
  top: 6.5rem;
  border-radius: 50%;
  z-index: 1000;
  background-color: var(--color-primary);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__button {
  background-color: white;
  position: fixed;
  right: 2.5rem;
  top: 6rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__nav {
  position: fixed;
  height: 100vh;
  width: 0%;
  top: 0;
  opacity: 0;
  right: 0;
  z-index: 1500;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  padding: 1rem 2rem;
  background-size: 240%;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-size: calc(1.1rem + 1.1vw);
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link span {
  margin-right: 1rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: var(--color-grey-dark);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  width: 100%;
  top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  top: 2.5rem;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-light);
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.side-nav {
  position: fixed;
  display: -ms-grid;
  display: grid;
  grid-column: container-start / col-end 1;
  background-color: var(--color-primary);
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  width: 29.3rem;
  height: 100vh;
}

.portfolio-box {
  top: 0px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px)[5];
      grid-template-rows: repeat(5, 50px);
  width: 100%;
  grid-column: 1 / -1;
  background-color: var(--color-primary);
}

.portfolio-box-profile-img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  width: 80%;
  height: 80%;
  place-self: center;
  border-radius: 50%;
  outline: 0.7rem solid var(--color-grey-dark);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.portfolio-box-profile-img:hover {
  outline: 0.7rem solid var(--hover-color);
}

.portfolio-box-name {
  color: white;
  font-size: calc(.8rem + .8vw);
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  text-align: center;
  margin-top: 0.4rem;
}

.portfolio-box-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  grid-column: 2 / -2;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.portfolio-box-list-items {
  margin: 0.3rem;
  cursor: pointer;
}

.portfolio-box-list-items i {
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--color-grey-dark);
  font-size: calc(0.8rem + 0.8rem);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio-box-list-items i:hover {
  background-color: var(--hover-color);
}

.menu-list {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (55px)[6];
      grid-template-rows: repeat(6, 55px);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.menu-list .menu-items {
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.menu-list .menu-items i {
  color: var(--color-grey-dark);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
  font-size: calc(.8rem + .8vw);
}

.menu-list .menu-items h3 {
  font-size: calc(.6rem + .6vw);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5px)[2];
      grid-template-columns: repeat(2, 5px);
  margin: 0rem 0rem 1rem 1.5rem;
  color: var(--color-grey-light);
  font-weight: normal;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.menu-list .menu-items:hover i {
  color: var(--hover-color);
}

.menu-list .menu-items:hover h3 {
  color: white;
}

.menu-list .menu-items:first-child i {
  color: var(--hover-color);
}

.menu-list .menu-items:first-child h3 {
  color: white;
}

.copyright {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-rows: (25px)[2];
      grid-template-rows: repeat(2, 25px);
  align-self: flex-end;
  -ms-grid-row: 4;
  grid-row: 4 / 4;
  place-self: center;
  grid-column: 2 / -2;
  text-align: center;
}

.copyright span {
  font-weight: 700;
  cursor: pointer;
  color: var(--hover-color);
}

.copyright span:hover {
  color: var(--color-grey-dark);
}

.header {
  width: 100%;
  height: 100vh;
  background-color: var(--hover-color);
  grid-column: col-end 1 / container-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 11, 20, 0.3)), to(rgba(4, 11, 20, 0.3))), url("../images/hero-bg.jpg");
  background-image: linear-gradient(rgba(4, 11, 20, 0.3), rgba(4, 11, 20, 0.3)), url("../images/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [header-start] (1fr)[8] [header-end];
      grid-template-columns: [header-start] repeat(8, 1fr) [header-end];
  -ms-grid-rows: [row-start] (1fr)[5] [row-end];
      grid-template-rows: [row-start] repeat(5, 1fr) [row-end];
}

.contentbox {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/ 4;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (70px)[2];
      grid-template-rows: repeat(2, 70px);
}

.contentbox-name {
  font-size: calc(2rem + 2vw);
}

.contentbox-skill {
  font-size: calc(1.1rem + 1.1vw);
  position: relative;
}

.contentbox-skill::after {
  top: 5.3rem;
  left: 0;
  position: absolute;
  content: "";
  width: 20%;
  height: 3px;
  background-color: var(--hover-color);
}

.section-about {
  width: 100%;
  height: 80vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  color: var(--color-grey-light);
}

.section-about p {
  color: grey;
}

.section-head {
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.section-head div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (80px)[2];
      grid-template-rows: repeat(2, 80px);
}

.section-head-heading {
  position: relative;
  color: var(--color-primary);
  font-size: calc(1.6rem + 1.6vw);
}

.section-head-heading::after {
  top: 6rem;
  left: 0;
  position: absolute;
  content: "";
  width: 5%;
  height: 3px;
  background-color: var(--hover-color);
}

.section-head-para {
  font-size: calc(.6rem + .6vw);
  color: var(--color-grey-light);
}

.about-profile-img {
  width: 100%;
  height: 100%;
  -ms-grid-row: 5;
  -ms-grid-row-span: 6;
  grid-row: 5 / 11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
}

.about-info {
  width: 100%;
  height: 100%;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-column: 5 / 12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-row: 5;
  -ms-grid-row-span: 6;
  grid-row: 5 / 11;
}

.about-info-heading {
  color: var(--hover-color);
  font-size: calc(1rem + 1vw);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.about-info-para {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  font-size: calc(.6rem + .6vw);
}

.about-info-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (45px)[4];
      grid-template-rows: repeat(4, 45px);
}

.about-info-list-items {
  font-size: calc(.6rem + .6vw);
  color: var(--color-grey-dark);
}

.about-info-list-items::before {
  content: "";
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.7rem;
  -webkit-mask-image: url("../images/chevron-thin-right.svg");
  mask-image: url("../images/chevron-thin-right.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-size: cover;
  background-color: var(--hover-color);
}

.about-info-last-para {
  font-size: calc(.6rem + .6vw);
}

.section-facts {
  width: 100%;
  height: 60vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
}

.facts-box {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6 / 10;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.facts-cards {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  color: var(--color-primary);
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (70px)[3];
      grid-template-rows: repeat(3, 70px);
}

.facts-cards i {
  font-size: calc(3rem + 3vw);
  color: var(--hover-color);
}

.facts-cards-num {
  font-size: calc(2rem + 2vw);
  color: var(--color-grey-dark);
}

.facts-cards-para {
  color: var(--color-grey-dark);
}

.facts-cards:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.facts-cards:nth-child(3) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}

.facts-cards:last-child {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
}

.section-skills {
  width: 100%;
  height: 55vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (60px)[12];
      grid-template-rows: repeat(12, 60px);
  color: var(--color-grey-light);
}

.skill-bar-box {
  width: 100%;
  height: 100%;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  color: var(--color-grey-dark);
  -ms-grid-rows: (30px)[2];
      grid-template-rows: repeat(2, 30px);
}

.skill-bar-box:nth-child(2) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.skill-bar-box:nth-child(3) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.skill-bar-box:nth-child(4) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
}

.skill-bar-box:nth-child(5) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.skill-bar-box:last-child {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.skill-bar-box-heading {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  font-size: calc(.5rem + .6vw);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  height: 10px;
  font-weight: bold;
}

.skill-bar-box-heading i {
  place-self: end;
  font-size: calc(.5rem + .6vw);
  color: var(--color-grey-dark);
  font-style: normal;
}

.skill-bar-box-main {
  width: 100%;
  height: 10px;
  background-color: rgba(164, 201, 250, 0.3);
  grid-column: 1 / -1;
}

.skill-bar-box-main-child {
  width: 100%;
  background-color: var(--hover-color);
  height: 100%;
  -webkit-animation: hundredperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
          animation: hundredperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
}

.skill-bar-box .perc90 {
  width: 90%;
  -webkit-animation: nintyperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
          animation: nintyperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
}

.skill-bar-box .perc75 {
  width: 75%;
  -webkit-animation: seventyfiveperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
          animation: seventyfiveperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
}

.skill-bar-box .perc55 {
  width: 55%;
  -webkit-animation: fiftyfiveperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
          animation: fiftyfiveperc 2.5s infinite cubic-bezier(1, 0, 0, 1);
}

@-webkit-keyframes hundredperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

@keyframes hundredperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes nintyperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 90%;
  }
}

@keyframes nintyperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes seventyfiveperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 75%;
  }
}

@keyframes seventyfiveperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 75%;
  }
}

@-webkit-keyframes fiftyfiveperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 55%;
  }
}

@keyframes fiftyfiveperc {
  0% {
    width: 0%;
    opacity: 1;
  }
  100% {
    width: 55%;
  }
}

.section-resume {
  width: 100%;
  height: 160vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[14];
      grid-template-rows: repeat(14, 1fr);
  color: var(--color-grey-light);
}

.summary-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (50px)[3] 1fr;
      grid-template-rows: repeat(3, 50px) 1fr;
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 /6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / 7;
}

.summary-info span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  top: 0.5rem;
  left: -3rem;
  border-radius: 50%;
  border: 2px solid var(--hover-color);
  position: relative;
  width: 20px;
  height: 20px;
}

.summary-info span::before {
  top: 12.5rem;
  left: -10.2rem;
  position: absolute;
  content: "";
  width: 220px;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  height: 2px;
  background-color: var(--hover-color);
}

.summary-info-heading {
  font-size: calc(1.2rem + 1.2vw);
  color: var(--hover-color);
}

.summary-info-subheading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  font-size: calc(.7rem + .7vw);
  color: var(--color-grey-dark);
}

.summary-info-para {
  color: var(--color-grey-light);
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1 / -1;
  font-size: calc(.6rem + .6vw);
  font-style: italic;
}

.summary-info-list {
  margin: 4rem 0 0 2rem;
  display: -ms-grid;
  display: grid;
  grid-column: 1/ -1;
  -ms-grid-rows: (35px)[3];
      grid-template-rows: repeat(3, 35px);
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.summary-info-list-items {
  list-style: disc;
  font-size: calc(.6rem + .6vw);
  color: var(--color-grey-dark);
}

.education-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3] 1fr;
      grid-template-rows: repeat(3, 1fr) 1fr;
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 /6;
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8 / 11;
}

.education-info span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  top: 0.5rem;
  left: -3rem;
  border-radius: 50%;
  border: 2px solid var(--hover-color);
  position: relative;
  width: 20px;
  height: 20px;
}

.education-info span::before {
  top: 14rem;
  left: -11.4rem;
  position: absolute;
  content: "";
  width: 245px;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  height: 2px;
  background-color: var(--hover-color);
}

.education-info-heading {
  font-size: calc(1.2rem + 1.2vw);
  color: var(--hover-color);
}

.education-info-subheading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  font-size: calc(.7rem + .7vw);
  color: var(--color-grey-dark);
}

.education-info-years {
  width: 100%;
  padding-top: 0.8rem;
  place-self: center;
  text-align: center;
  height: 40px;
  color: var(--color-grey-dark);
  background-color: rgba(60, 144, 253, 0.3);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: calc(.6rem + .6vw);
}

.education-info-list {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  grid-column: 1/ -1;
  -ms-grid-rows: (40px)[3];
      grid-template-rows: repeat(3, 40px);
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.education-info-list-items {
  list-style-type: none;
  font-size: calc(.6rem + .6vw);
  color: var(--color-grey-dark);
}

.education-info-list-items:first-child {
  font-style: italic;
  text-transform: capitalize;
  color: var(--color-grey-light);
}

.education-info:last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 11;
  -ms-grid-row-span: 3;
  grid-row: 11 / 14;
}

.education-info:last-child span::before {
  top: 12rem;
  left: -9.4rem;
  width: 205px;
}

.prof-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  grid-row: 4/9;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (50px)[4] 1fr;
      grid-template-rows: repeat(4, 50px) 1fr;
  width: 100%;
  height: 100%;
}

.prof-info span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  top: 0.5rem;
  left: -3rem;
  border-radius: 50%;
  border: 2px solid var(--hover-color);
  position: relative;
  width: 20px;
  height: 20px;
}

.prof-info span::before {
  top: 23.1rem;
  left: -20.8rem;
  position: absolute;
  content: "";
  width: 432px;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
  height: 2px;
  background-color: var(--hover-color);
}

.prof-info-years {
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 0.8rem;
  text-align: center;
  place-self: center;
  height: 40px;
  color: var(--color-grey-dark);
  background-color: rgba(60, 144, 253, 0.3);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: calc(.6rem + .6vw);
}

.prof-info-heading {
  grid-column: 1/-1;
  font-size: calc(1.2rem + 1.2vw);
  color: var(--hover-color);
}

.prof-info-subheading {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  font-size: calc(.7rem + .7vw);
  color: var(--color-grey-dark);
}

.prof-info-para {
  margin-top: 1rem;
  color: var(--color-grey-light);
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  grid-column: 1 / -1;
  font-size: calc(.6rem + .6vw);
  font-style: italic;
}

.prof-info-list {
  margin: 0rem 0 0 2rem;
  display: -ms-grid;
  display: grid;
  grid-column: 1/ -1;
  -ms-grid-rows: (65px)[4];
      grid-template-rows: repeat(4, 65px);
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.prof-info-list-items {
  list-style: disc;
  font-size: calc(.6rem + .6vw);
  color: var(--color-grey-dark);
}

.prof-info:nth-child(2) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9 / 13;
}

.prof-info:nth-child(2) span::before {
  top: 21rem;
  left: -18.4rem;
  width: 385px;
}

.section-gallery {
  width: 100%;
  height: 180vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
  -ms-grid-rows: (1fr)[17];
      grid-template-rows: repeat(17, 1fr);
  background-color: whitesmoke;
}

.cover {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 / 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
}

.cover .pic {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 1rem 4rem #cecece;
          box-shadow: 0 1rem 4rem #cecece;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.cover .pic:hover {
  -webkit-box-shadow: 0 1rem 4rem var(--hover-color);
          box-shadow: 0 1rem 4rem var(--hover-color);
}

.cover:nth-of-type(2) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 / 9;
}

.cover:nth-of-type(3) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10 / 14;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 / 9;
}

.cover:nth-of-type(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9 / 13;
}

.cover:nth-of-type(5) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9 / 13;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
}

.cover:nth-of-type(6) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9 / 13;
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10 / 14;
}

.cover:nth-of-type(7) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  grid-row: 13 / 17;
}

.cover:nth-of-type(8) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  grid-row: 13 / 17;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
}

.cover:nth-of-type(9) {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  grid-row: 13 / 17;
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10 / 14;
}

.gallery-list {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background-color: white;
  -webkit-box-shadow: 0 0rem 3rem #e9e9e9;
          box-shadow: 0 0rem 3rem #e9e9e9;
  text-align: center;
  margin-bottom: 2rem;
}

.gallery-list-items {
  font-size: calc(.5rem + .6vw);
  font-weight: bold;
  margin-top: 1.3rem;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.gallery-list-items:first-child {
  color: var(--hover-color);
}

.gallery-list-items:hover {
  color: var(--hover-color);
}

.section-services {
  width: 100%;
  height: 75vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (60px)[12];
      grid-template-rows: repeat(12, 60px);
  color: var(--color-grey-light);
}

.service-cards {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 200px;
      grid-template-columns: 80px 200px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-cards i {
  width: 60px;
  font-size: 2rem;
  border-radius: 50%;
  height: 60px;
  border: 2px solid var(--hover-color);
  padding-top: 1.7rem;
  text-align: center;
  background-color: var(--hover-color);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.service-cards-contentbox-heading {
  color: var(--color-grey-dark);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
  font-size: 2rem;
}

.service-cards-contentbox-para {
  font-size: calc(0.5rem + 0.6vw);
  color: var(--color-grey-light);
}

.service-cards:nth-of-type(2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-cards:nth-of-type(3) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.service-cards:nth-of-type(4) {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
}

.service-cards:nth-of-type(5) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
}

.service-cards:nth-of-type(6) {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
}

.service-cards:hover i {
  background-color: transparent;
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
}

.service-cards:hover h2 {
  color: var(--hover-color);
}

.section-testimonails {
  width: 100%;
  height: 85vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: (1fr)[14];
      grid-template-columns: repeat(14, 1fr);
  -ms-grid-rows: (60px)[12];
      grid-template-rows: repeat(12, 60px);
  color: var(--color-grey-light);
  background-color: whitesmoke;
}

.testimonial-box {
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-row: 5;
  -ms-grid-row-span: 6;
  grid-row: 5/11;
}

.testimonial-box:nth-child(2) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
}

.testimonial-box:nth-child(3) {
  -ms-grid-column: 10;
  -ms-grid-column-span: 4;
  grid-column: 10/ 14;
}

.testimonial-contentbox {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 0rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 80px 50px;
      grid-template-rows: 30px 80px 50px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 1rem 4rem rgba(182, 182, 182, 0.3);
          box-shadow: 0 1rem 4rem rgba(182, 182, 182, 0.3);
}

.testimonial-contentbox::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 41%;
  border-width: calc(1.4vh + 1.4vw);
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.testimonial-contentbox i {
  font-size: calc(0.8rem + 0.8vw);
  position: absolute;
  color: var(--hover-color);
  opacity: 0.4;
}

.testimonial-contentbox .up {
  left: 0;
  top: 0;
}

.testimonial-contentbox .down {
  bottom: 0;
  right: 0;
}

.testimonial-contentbox-para {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  color: var(--color-grey-light);
}

.testimonial-img {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -ms-grid-rows: 1fr 30px 20px;
      grid-template-rows: 1fr 30px 20px;
}

.testimonial-img img {
  width: 70px;
  border-radius: 50%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.testimonial-img h3 {
  font-size: calc(0.8rem + 0.8vw);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: var(--color-grey-dark);
}

.testimonial-img p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: var(--color-grey-light);
  font-weight: bold;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.current--img {
  background-color: var(--hover-color);
}

.hidden {
  display: none;
}

.testi-btn {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  text-align: center;
}

.testi-btn .testi-btn__nav--btn {
  height: 1.3rem;
  margin: 0.6rem;
  width: 1.3rem;
  border-radius: 50%;
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.section-contact {
  width: 100%;
  height: 120vh;
  grid-column: col-end 1 / container-end;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[14];
      grid-template-rows: repeat(14, 1fr);
  color: var(--color-grey-light);
}

.contact-info {
  padding: 2rem;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 1rem 4rem #e1e1e1;
          box-shadow: 0 1rem 4rem #e1e1e1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 8;
  grid-row: 5/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 70px 70px 70px 1fr;
      grid-template-rows: 70px 70px 70px 1fr;
}

.contact-cards {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 250px;
      grid-template-columns: 60px 250px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  place-self: start;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-cards i {
  width: 40px;
  font-size: 1.6rem;
  border-radius: 50%;
  height: 40px;
  border: 2px solid var(--hover-color);
  padding-top: 0.9rem;
  text-align: center;
  background-color: var(--hover-color);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.contact-cards-contentbox-heading {
  color: var(--color-grey-dark);
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
  font-size: calc(0.8rem + 0.8vw);
}

.contact-cards-contentbox-para {
  font-size: calc(0.6rem + 0.6vw);
  color: var(--color-grey-light);
}

.contact-cards:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.contact-cards:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.contact-cards:hover i {
  background-color: transparent;
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
}

.contact-cards:hover h2 {
  color: var(--hover-color);
}

.map {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.contact-areas {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 1rem 4rem #e1e1e1;
          box-shadow: 0 1rem 4rem #e1e1e1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (80px)[2] 1fr 80px;
      grid-template-rows: repeat(2, 80px) 1fr 80px;
  -ms-grid-row: 5;
  -ms-grid-row-span: 8;
  grid-row: 5/13;
  padding: 2rem;
}

.contact-areas-button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--hover-color);
  border: 0;
  margin-top: 2rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  place-self: center;
  font-weight: bold;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
  color: white;
}

.contact-areas-button:hover {
  background-color: transparent;
  border: 2px solid var(--hover-color);
  -webkit-box-shadow: 0 0rem 2rem #abd1fd;
          box-shadow: 0 0rem 2rem #abd1fd;
  color: var(--hover-color);
}

.form-group {
  margin-bottom: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form-group__input {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-shadow: 0 0rem 3rem #ededed;
          box-shadow: 0 0rem 3rem #ededed;
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-group__input:focus {
  outline: none;
  border-bottom: 3px solid var(--hover-color);
}

.form-group__input:focus:invalid {
  border-bottom: 3px solid var(--color-grey-light);
}

.form-group__input:focus:valid {
  -webkit-box-shadow: 0 0rem 2rem #abd1fd;
          box-shadow: 0 0rem 2rem #abd1fd;
}

.form-group__input::-webkit-input-placeholder {
  color: var(--color-grey-dark);
}

.form-group__label {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--hover-color);
  margin-left: 2rem;
  margin-top: -0.1rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form-group__input:placeholder-shown + .form-group__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form-group:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.form-group:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.form-group:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1/-1;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .side-nav {
    width: 24rem;
  }
  .portfolio-box {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .portfolio-box-profile-img {
    width: 80px;
    height: 80px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .portfolio-box-list {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .portfolio-box-list-items i {
    padding: 0.9rem;
  }
  .header,
  .section-contact,
  .section-about,
  .section-facts,
  .section-gallery,
  .section-resume,
  .section-services,
  .section-skills,
  .section-testimonails {
    grid-column: col-end 2 / container-end;
  }
  .section-about {
    height: 60vh;
  }
  .about-info {
    -ms-grid-row: 5;
    -ms-grid-row-span: 6;
    grid-row: 5/11;
  }
  .about-info-list {
    -ms-grid-rows: (35px)[4];
        grid-template-rows: repeat(4, 35px);
  }
  .facts-cards {
    -ms-grid-rows: (60px)[3];
        grid-template-rows: repeat(3, 60px);
  }
  .section-resume {
    height: 145.5vh;
  }
  .section-gallery {
    height: 140vh;
  }
  .testimonial-contentbox {
    padding: 0rem 1rem;
  }
  .testimonial-contentbox::before {
    left: 39%;
    bottom: -35%;
  }
  .testi-btn {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
  }
  .section-contact {
    height: 80vh;
  }
  .contact-info {
    -ms-grid-rows: 60px 60px 60px 1fr;
        grid-template-rows: 60px 60px 60px 1fr;
  }
  .contact-cards {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media screen and (max-width: 991px) {
  .contentbox {
    -ms-grid-rows: (60px)[2];
        grid-template-rows: repeat(2, 60px);
  }
  .side-nav {
    display: none;
    visibility: hidden;
  }
  .navigation {
    visibility: visible;
    overflow: hidden;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 90vh;
  }
  .header,
  .section-contact,
  .section-about,
  .section-facts,
  .section-gallery,
  .section-resume,
  .section-services,
  .section-skills,
  .section-testimonails {
    grid-column: container-start / container-end;
  }
  .testimonial-contentbox {
    padding: 0rem 1rem;
  }
  .testimonial-contentbox::before {
    left: 40%;
    bottom: -30%;
  }
}

@media screen and (max-width: 768px) {
  .section-about,
  .section-facts,
  .facts-box,
  .section-services,
  .section-contact {
    height: auto;
  }
  .about-profile-img {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
  .about-info {
    -ms-grid-rows: 30px 30px 140px 50px;
        grid-template-rows: 30px 30px 140px 50px;
    -ms-grid-row: 8;
    -ms-grid-row-span: 4;
    grid-row: 8/12;
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
  .facts-box {
    -ms-grid-rows: 1fr 50px 1fr;
        grid-template-rows: 1fr 50px 1fr;
    -ms-grid-row: 5;
    -ms-grid-row-span: 6;
    grid-row: 5/11;
  }
  .facts-cards {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .facts-cards:nth-child(2) {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .facts-cards:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .facts-cards:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .section-gallery {
    height: 120vh;
  }
  .gallery-list {
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5/11;
    margin-top: 3rem;
  }
  .gallery-list-items {
    margin-top: 1.8rem;
  }
  .section-facts {
    -ms-grid-rows: (1fr)[11];
        grid-template-rows: repeat(11, 1fr);
  }
  .service-cards {
    margin-top: 4rem;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .service-cards:nth-child(2) {
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .service-cards:nth-child(3) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
  .service-cards:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .service-cards:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9/11;
  }
  .service-cards:nth-child(6) {
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9/11;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
    grid-column: 8/11;
  }
  .section-contact {
    -ms-grid-rows: (1fr)[24];
        grid-template-rows: repeat(24, 1fr);
  }
  .contact-info {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
  .contact-areas {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
    -ms-grid-row: 14;
    -ms-grid-row-span: 9;
    grid-row: 14/23;
  }
  .testimonial-contentbox::before {
    bottom: -25%;
  }
  .testimonial-contentbox p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 100vh;
  }
  .contentbox {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
    -ms-grid-rows: (40px)[2];
        grid-template-rows: repeat(2, 40px);
  }
  .contentbox-skill::after {
    top: 3.5rem;
  }
  .section-head div {
    -ms-grid-rows: (50px)[2];
        grid-template-rows: repeat(2, 50px);
  }
  .section-head-heading::after {
    top: 4rem;
    width: 10%;
  }
  .about-profile-img {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
  }
  .about-info {
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .facts-box {
    grid-row: 4/-1;
    -ms-grid-rows: 1fr 80px 1fr 80px 1fr 80px 1fr;
        grid-template-rows: 1fr 80px 1fr 80px 1fr 80px 1fr;
  }
  .facts-cards {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    -ms-grid-rows: (40px)[3];
        grid-template-rows: repeat(3, 40px);
  }
  .facts-cards:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
  }
  .facts-cards:nth-child(3) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .facts-cards:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .section-skills {
    height: auto;
    -ms-grid-rows: (50px)[9];
        grid-template-rows: repeat(9, 50px);
  }
  .skill-bar-box {
    -ms-grid-rows: (15px)[2];
        grid-template-rows: repeat(2, 15px);
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .skill-bar-box:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .skill-bar-box:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .skill-bar-box:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .skill-bar-box:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .skill-bar-box:last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
  }
  .section-resume {
    height: auto;
    -ms-grid-rows: (150px)[14];
        grid-template-rows: repeat(14, 150px);
  }
  .summary-info {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-rows: (30px)[3];
        grid-template-rows: repeat(3, 30px);
  }
  .prof-info {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
  }
  .prof-info:nth-child(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
    -ms-grid-row: 8;
    -ms-grid-row-span: 4;
    grid-row: 8/12;
  }
  .prof-info-years {
    height: 30px;
  }
  .education-info {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
    -ms-grid-row: 11;
    -ms-grid-row-span: 3;
    grid-row: 11/14;
    -ms-grid-rows: (30px)[4];
        grid-template-rows: repeat(4, 30px);
  }
  .education-info:last-child {
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4/11;
    -ms-grid-row: 13;
    -ms-grid-row-span: 4;
    grid-row: 13/17;
  }
  .education-info-years {
    height: 30px;
  }
  .gallery-list {
    height: 30px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .gallery-list-items {
    margin-top: 0.9rem;
  }
  .section-gallery {
    height: auto;
    -ms-grid-rows: (1fr)[22];
        grid-template-rows: repeat(22, 1fr);
  }
  .cover {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(2) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(3) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8/10;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(4) {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10/12;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(5) {
    -ms-grid-row: 12;
    -ms-grid-row-span: 2;
    grid-row: 12/14;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(6) {
    -ms-grid-row: 14;
    -ms-grid-row-span: 2;
    grid-row: 14/16;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(7) {
    -ms-grid-row: 16;
    -ms-grid-row-span: 2;
    grid-row: 16/18;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(8) {
    -ms-grid-row: 18;
    -ms-grid-row-span: 2;
    grid-row: 18/20;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .cover:nth-of-type(9) {
    -ms-grid-row: 20;
    -ms-grid-row-span: 2;
    grid-row: 20/22;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .section-services {
    height: auto;
    -ms-grid-rows: (1fr)[16];
        grid-template-rows: repeat(16, 1fr);
  }
  .service-cards {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .service-cards:nth-of-type(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .service-cards:nth-of-type(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .service-cards:nth-of-type(4) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
  }
  .service-cards:nth-of-type(5) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
  }
  .service-cards:nth-of-type(6) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 14;
    -ms-grid-row-span: 1;
    grid-row: 14/15;
  }
  .section-testimonails {
    height: auto;
    -ms-grid-rows: (60px)[20];
        grid-template-rows: repeat(20, 60px);
  }
  .testimonial-box {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    -ms-grid-rows: 100px 50px;
        grid-template-rows: 100px 50px;
  }
  .testimonial-box:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
  .testimonial-box:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
    -ms-grid-row: 15;
    -ms-grid-row-span: 4;
    grid-row: 15/19;
  }
  .testimonial-contentbox::before {
    bottom: -33%;
    left: 44%;
  }
  .testi-btn {
    -ms-grid-row: 20;
    -ms-grid-row-span: 1;
    grid-row: 20/21;
    -ms-grid-column: 4;
    -ms-grid-column-span: 8;
    grid-column: 4/12;
  }
  .contact-info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .contact-areas {
    -ms-grid-rows: (55px)[3] 1fr 70px;
        grid-template-rows: repeat(3, 55px) 1fr 70px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 14;
    -ms-grid-row-span: 10;
    grid-row: 14/24;
  }
  .contact-areas-button {
    margin-top: 2rem;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .form-group {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .form-group:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .form-group:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .form-group:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}
/*# sourceMappingURL=main.css.map */